@import "tailwindcss" theme(static);

@theme {
  --color-primary: #020617; /* primary  */
  --color-secondary: #0F172A;    /* secondary */
  --color-text: #FFFFFF;       /* text */
  --color-accent: #7C3AED;     /* accent */
}