FRONTEND_URL=http://localhost

PORT=3001
MONGODB8URI=mongodb://procrastinator_user:procrastinator_pass@mongodb:27017/procrastinator?authSource=procrastinator
JWT_SECRET=your_super_secret_jwt_key_change_in_production_please

## mailer
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=953764b9b04c81
EMAIL_PASSWORD=45be7b7d70084e
